# Virtual environment
venv/

# Byte-compiled / optimized Python files
__pycache__/
*.pyc

# Environment variables (if you're using .env files for configuration)
.env

# Local development configuration (if any)
instance/

# Database files
*.sqlite

# IDE and editor-specific files
.idea/
.vscode/
*.sublime-workspace
*.pyc
*.swo
*.swp

# Compiled Python files
*.pyc
__pycache__/

# Logs and other temporary files
*.log
*.bak
*.swp

# OS-specific files and directories
.DS_Store
Thumbs.db
